<div class="container">
  <h2>Pesquisar Boletos</h2>

  <%= form_with url: search_boleto_path, method: :get, html: { class: 'form-control' } do %>
    <div class="field">
      <%= label_tag :q, 'Código do Banco' %>
      <%= text_field_tag :q %>
    </div>
    <div class="field">
      <%= label_tag :u, 'Agência Bancária' %>
      <%= text_field_tag :u %>
    </div>
    <div class="field">
      <%= label_tag :e, 'Conta Bancária' %>
      <%= text_field_tag :e %>
    </div>
    <div class="field">
      <%= submit_tag 'Pesquisar', class: "btn btn-dark" %>
    </div>
  <% end %>
</div>
