<!DOCTYPE html>
<html>
  <head>
    <title>PayNow</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="Laryssa_LFA">
    <meta name="description" content="Projeto final da etapa 01 do Treina Dev \
       - Turma 06. Esse projeto visa construir uma ferramenta fictícia de pagamentos com \
       o minímo produto viável (MVP) em Ruby on Rails.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="<%= root_path %>">
          <img src="#{Rails.root}.join(app/assets/images/icon-Logotipo.png)" alt="" width="50" height="50" class="d-inline-block align-text-center">
          PayNow
        </a>

        <div class="d-inline-block">
          <% if client_signed_in? %>
            <h5 class="btn btn-dark"><%= current_client.name %></h5>
            <%= link_to 'Sair', destroy_client_session_path, method: :delete %>
          <% elsif admin_signed_in? %>
            <h5 class="btn btn-dark"><%= current_admin.name %></h5>
            <h5><%= link_to 'Sair', destroy_admin_session_path, method: :delete, class: 'btn btn-dark' %></h5>
          <% else %>
            <a class="navbar-brand align-text-right" href="<%= new_client_session_path %>">
              Entrar
            </a>
            <a class="navbar-brand align-text-right" href="<%= new_client_registration_path %>">
              Registrar
            </a>
            <a class="navbar-brand align-text-right" href="<%= new_admin_session_path %>">
              Área Administrativa
            </a>
          <% end %>
        </div>
      </div>
    </nav>

    <% if notice %>
      <div class="alert alert-success">
        <%= notice %>
      </div>
    <% end %>
    
    <% if alert %>
      <div class="alert alert-danger">
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
